parameters:
    level: max
    paths:
        - dev
        - src
        - tests
    stubFiles:
        - phpstan.stub
    ignoreErrors:
        - '#^Match expression does not handle remaining values?: #'
        -
            message: '#^Cannot call method (getChild|getChildren|getValueValue)\(\) on Hoa\\Compiler\\Llk\\TreeNode\|null\.$#'
            count: 9
            path: dev/Rules/RuleCompiler.php
        -
            message: '#expects Hoa\\Compiler\\Llk\\TreeNode, Hoa\\Compiler\\Llk\\TreeNode\|null given\.$#'
            count: 1
            path: dev/Rules/RuleCompiler.php
        -
            message: '#^Parameter \#1 \$\w+ of function Psl\\Str\\(contains|ends_with) expects string, string\|null given\.$#'
            count: 5
            path: dev/Tests/TestCompiler.php

    tmpDir: .cache/phpstan

includes:
    - vendor/phpstan/phpstan/conf/bleedingEdge.neon
    - vendor/php-standard-library/phpstan-extension/extension.neon
